form{
    max-width: 320px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input{
    width: 100%;
}
.form-group-line{
    display: flex;
    gap: .5rem;
}
.info, .info p{
    font-size: 0.75rem !important;
}
.info{
    border: 1px solid #434343;
}
.list-info{
    list-style-type: disc;
    margin-left: 1rem;
}
.atention{
    color:#FF0101;
}